# semantic
semantic/dist
!semantic/dist/.gitkeep

# deps
node_modules

# typings
typings

# static files
public/dist/*
!public/dist/.gitkeep

dist/*
!dist/.gitkeep

# project files
*.sublime-*

# logs
logs/*
!logs/.gitkeep
npm-debug.log*
lerna-debug.log*

# idea
.idea

# vscode
.vscode

# osx files
.DS_Store
.DS_Store?

# private stuff
.env
