<h4 class="ui header basic segment centered" ng-if="!books.length">No books.</h4>

<div class="ui fluid action input" style="margin-bottom: 10px" >
    <input ng-model="searchQuery"
            type="text" placeholder="Search by title/author...">
    <!--<i ng-click="search()" class="inverted circular search link icon"></i>-->
    <button class="ui icon button" ng-show="searchQuery!=''" ng-click="resetSearch()"><i class="remove icon"></i></button>
    <button class="ui icon button" ng-click="search()"><i class="search icon"></i></button>
</div>

<div class="ui cards">
    <div ng-repeat="b in books" class="card" style="width: 262px">
        <a class="image">
            <img ng-click="openBookModal(b)" ng-src={{b.imageUrl}} alt="No image">
        </a>

        <div class="content">
            <div class="header">
                {{b.title}}
            </div>
            <div class="meta">
                <div>By {{b.author}}</div>
            </div>
            <div class="description">
                <div ng-if=b.shortDesc>
                    {{b.shortDesc}}
                    <a ng-click="openBookModal(b)">Read more</a>
                </div>
                <div ng-if=!b.shortDesc>
                    {{b.description}}
                </div>
            </div>
        </div>
        <div class="extra content">
          <span>
              <i class="user icon"></i>
            {{b.likeNumber}} wishlisted
          </span>
          <span class="right floated">
            <book-status book="b"></book-status>
          </span>
        </div>
        <div ng-click="reverseLike(b)" ng-class="{'green':b.isLiked}" class="ui bottom attached button">
            <i ng-show="b.isLiked" class="checkmark box icon"></i>
            <i ng-hide="b.isLiked" class="add circle icon"></i>
            Wishlist<span ng-show="b.isLiked">ed</span>
        </div>
    </div>
</div>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui pagination menu">
            <a ng-click="currentPage==1 || getBooks(currentPage-1)" class="icon item"
               ng-class="{'disabled':currentPage==1}">
                <i class="angle left icon"></i>
            </a>
            <a class="item disabled active">
                {{currentPage}}
            </a>
            <a ng-click="currentPage==maxPage || getBooks(currentPage+1)" class="icon item"
               ng-class="{'disabled':currentPage==maxPage}">
                <i class="angle right icon"></i>
            </a>
        </div>
    </div>
</div>

<modal ng-model="showBookModal" source-object="bookInstance" controller="ModalBookController"
       template="modal-book.html">
</modal>
<modal ng-model="showWishlistRemoveModal" source-object="wishlistRemoveConfig" template="modal-confirmation.html">
</modal>