<div class="ui container">
    <a ui-sref="login()" class="header item ">
        <img src="../images/EELogo.png" alt=""/>
        <b>Books</b>
    </a>

    <div class="ui right floated item">
        <div class="ui compact menu">
            <div class="ui simple dropdown item">
                user@extensionengine.com
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">My Books</div>
                    <div class="item">Add Book</div>
                    <div class="ui divider"></div>
                    <div class="header">Account</div>
                    <div class="item" ng-click="sh()">Change Password</div>
                    <div class="item">Logout</div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="ui item">-->
        <!--<div class="ui icon top left pointing dropdown button" id="config-button">-->
            <!--<i class="wrench icon"></i>-->
            <!--<div class="menu">-->
                <!--<div class="item">My Books</div>-->
                <!--<div class="item">Add Book</div>-->
                <!--<div class="ui divider"></div>-->
                <!--<div class="header">Account</div>-->
                <!--<div class="item" ng-click="sh()">Change Password</div>-->
                <!--<div class="item">Logout</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


</div>
