<div class="ui middle aligned center aligned grid">
    <div class="column" style="max-width: 450px;">
        <h2 class="ui teal image header">
            <img src="../images/EELogo.png" class="image">

            <div class="content">

            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input ng-model="email" type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input ng-model="password" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div ng-if="isLogin" ng-click="login()" class="ui fluid large teal submit button">
                    Login
                </div>
                <div ng-if="!isLogin" ng-click="register()" class="ui fluid large teal submit button">
                    Register
                </div>
                <div ng-if="isLogin">
                    <div class="ui horizontal divider"></div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="remember">
                            <label>Remember me</label>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <div ng-if="isLogin" class="ui message">
            Don't have an account? <a ui-sref="register()">Register</a>
        </div>
        <div ng-if="!isLogin" class="ui message">
            Already have an account? <a ui-sref="login()">Login</a>
        </div>
        <div ng-if="hasRegistered">Verification mail has been sent to your address. Please confirm
            it and then login <a ui-sref="login()">here</a>.
        </div>
        <div ng-if="!hasRegistered" class="ui error message">
            {{msg}}
        </div>
    </div>
</div>

