<div class="ui modal small">
    <i class="close icon"></i>

    <div class="header">
        {{sourceObject.title}}
    </div>
    <div class="image content">
        <div class="ui image">
            <img src={{sourceObject.imageUrl}} alt=""/>
        </div>
        <div class="description">
            <div class="ui header">{{sourceObject.author}}</div>
            <p>{{sourceObject.description}}</p>

            <div><b>Pages: </b>{{sourceObject.pages}}</div>
            <div><b>ISBN-10: </b>{{sourceObject.isbn10}}</div>
            <div><b>ISBN-13: </b>{{sourceObject.isbn13}}</div>
        </div>
    </div>
    <div class="actions">
        <button ng-click="remove(sourceObject)" class="ui red button">
            <i class="remove icon"></i>
            Delete
        </button>
        <button ng-click="edit(sourceObject)" class="ui yellow button">
            <i class="edit icon"></i>
            Edit
        </button>
        <button ng-class="{'green':sourceObject.isLiked}" ng-click="reverseLike(sourceObject)" class="ui button">
            <i class="thumbs up icon"></i>
            Like<span ng-if="sourceObject.isLiked">d</span>
        </button>
        <a href={{sourceObject.amazonUrl}} target="_blank" class="ui primary approve button">
            Amazon
            <i class="right chevron icon"></i>
        </a>
    </div>
</div>
