<div class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        Change Password
    </div>
    <form name="changePassForm" class="ui large form">
        <div class="ui stacked segment">
            <div class="field" ng-class="{'error':changePassForm.oldPass.$invalid && submitted}">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input ng-model="oldPass"
                           ng-minlength="4"
                           ng-maxlength="30"
                           ng-required="true"
                           type="password" name="oldPass" placeholder="Old password">
                </div>
            </div>
            <div class="field" ng-class="{'error':changePassForm.newPass.$invalid && submitted}">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input ng-model="newPass"
                           ng-minlength="4"
                           ng-maxlength="30"
                           ng-required="true"
                           type="password" name="newPass" placeholder="New password">
                </div>
            </div>
            <div ng-click="submit(oldPass,newPass)" class="ui fluid large teal submit button">
                Submit
            </div>
        </div>
    </form>
    <div ng-if="submitted && (changePassForm.newPass.$invalid || changePassForm.oldPass.$invalid)" class="ui error message">
        Password must be from 4 to 30 characters long.
    </div>
</div>
