<div class="ui main container">
    <div class="ui basic segment">
        <h1 class="ui header">Users</h1>

        <table class="ui celled striped table">
            <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Rented Books
                </th>
                <th>
                    Admin
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users">
                <td>
                    <i class="user icon"></i>
                    {{u.email}}
                </td>
                <td>
                    <div ng-repeat="b in u.rentedBooks"
                         ng-click="openBookModal(b)"
                         class="ui button" style="float:left">
                        {{b.title}}{{$last ? "":", "}}
                    </div>
                </td>
                <td class="right aligned">
                    <div class="ui toggle fitted checkbox">
                        <input type="checkbox" ng-model="u.isAdmin">
                        <label></label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<modal ng-model="showBookModal" source-object="bookInstance" controller="ModalBookController"
       template="modal-book.html">
</modal>
<modal ng-model="showWishlistRemoveModal" source-object="wishlistRemoveConfig" template="modal-confirmation.html">
</modal>