<div class="ui main container">
    <div class="ui basic segment">
        <h1 class="ui header">Users</h1>

        <table class="ui celled striped table">
            <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Rented Books
                </th>
                <th>
                    Admin
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users">
                <td>
                    <i class="user icon"></i>
                    {{u.email}}
                </td>
                <td>
                    <div ng-repeat="b in u.rentedBooks"
                         ng-click="openBookModal(b)"
                            style="cursor:pointer;">
                        {{b.title}}{{$last ? "":", "}}
                    </div>
                </td>
                <td class="right aligned">
                    <div class="ui toggle fitted checkbox"
                            ng-click="reverseAdmin(u)">
                        <input type="checkbox" ng-model="u.isAdmin">
                        <label></label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui pagination menu">
                    <a ng-click="currentPage==1 || getUsers(currentPage-1)" class="icon item"
                       ng-class="{'disabled':currentPage==1}">
                        <i class="angle left icon"></i>
                    </a>
                    <a class="item disabled active">
                        {{currentPage}}
                    </a>
                    <a ng-click="currentPage==maxPage || getUsers(currentPage+1)" class="icon item"
                       ng-class="{'disabled':currentPage==maxPage}">
                        <i class="angle right icon"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<modal ng-model="showBookModal" source-object="bookInstance" controller="ModalBookController"
       template="modal-book.html">
</modal>
<modal ng-model="showReverseAdminModal" source-object="reverseAdminConfig" template="modal-confirmation.html">
</modal>